# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
wheels/
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
.python-version

# Distribution / packaging
*.dist-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/

# Typing
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Environments
.env
.env.*
!.env.example

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
